.header,
.header__theme-menu-item,
.header__theme-menu-list,
.main,
.content-section,
.article-list,
.content-wrapper, 
.images,
.footer {
  display: grid;
}

.decorated-item,
.title {
  font-family: var(--font-accent, 'IBM Plex mono');
}

.decorated-item,
.header__theme-menu-button,
.normal-weight,
.section-text {
  font-weight: var(--weight-main, 400);
}

.title,
.title__description,
.article-title,
.section-title {
  font-weight: var(--weight-accent, 700);
}

.decorated-item,
.title__description,
.article-title,
.section-title,
.section-text {
  font-size: var(--font-size-base, 1.125rem);
}

.page {
  background-image: var(--bg-image, url("../images/cover-image-dark.png"));
  background-color: var(--bg-color, #000028);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-main, 'IBM Plex mono');
}

.header {
  min-height: 41.75rem;
  max-height: 100dvh;
  padding: var(--offset-base, 0.625rem);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

 .footer {
  padding-top: 2.5rem;
  min-height: 41.75rem;
  max-height: 100dvh;
  padding: var(--offset-base, 0.625rem) 0.875rem;
  align-items: center;
  justify-items: center;
  background-color: var(--bg-color, #000028);
 }

.decorated-item {
  display: flex;
  position: absolute;
  gap: 9px;
  align-items: center;
  top: 10px;
  right: 19px;
  text-transform: uppercase;
  color: var(--decor-color, #FF0070);
}

.decorated-item::after {
  content: "";
  background-color: var(--decor-color, #FF0070);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px var(--decor-color, #FF0070);
} 

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decor-color, #FF0070);
  border-right: 1px solid var(--decor-color, #FF0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid  var(--decor-color, #FF0070);
  border-left: 1px solid  var(--decor-color, #FF0070);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--title-color, #DB00FF);
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.title__description {
  color: var(--text-description-color, #000028);
  align-self: center;
}

.title__decor {
  background-color: var(--accent-color, #FF0070);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: var(--offset-base, 0.625rem);
}

.header__theme-menu-button {
  all: unset;
  font-size: var(--font-size-base, 1.125rem);
  font-family: var(--font-button, 'IBM Plex mono');
  line-height: 1;
  text-transform: lowercase;
  color: var(--button-color, #FF0070);
  cursor: pointer;
  place-self: center;
  padding: 4px 13px;
}

 .header__theme-menu-button_active {
  outline: 1px solid var(--button-color, #FF0070);
  pointer-events: none;
 }

 .header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button-color, #FF007066);
}

 .header__theme-menu-button:focus {
  outline: none;
 }

 .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color, #FF0070);
 }

 .main {
  gap: var(--offset-xl, 3.125rem);
  padding: var(--offset-l, 2.5rem) var(--offset-base, 0.625rem);
  grid-template-columns: 1fr;
  background-color: var(--bg-color, #000028);
 }

 .content-section,
 .article-list {
  gap: var(--offset-m, 1.25rem);
 }

.content-wrapper {
  grid-template-columns: 1fr;
  gap: var(--offset-base, 0.625rem);
}

.article-title,
.section-title,
.section-text {
  line-height: var(--line-height-base, 1.3);
}

.article-title {
  color: var(--article-title-color, #FF0070);
}

.section-title {
  color: var(--section-title-color, #000028);
  background-color: var(--section-title-bgc, #FF0070);
}

.section-text {
  color: var(--section-text-color, #F1B2CE);
}

.highlight {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color, #FF0070);
  padding-bottom: 0;
  display: inline-block;
  line-height: var(--line-height-accent, 1.1);
}

.highlight:hover {
  border-bottom: 1px solid var(--accent-color-hover, #F1B2CE);
}

.highlight:focus {
  outline: none;
}

.highlight:focus-visible {
  outline: 1px solid var(--accent-color-hover, #F1B2CE);
}

.images {
    grid-template-columns: 1fr;
    gap: var(--offset-base, 0.625rem);
}

.image {
    width: 100%;
    object-fit: cover;
}

.title__footer {
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

@media (width >= 48em) {
  .header {
    display: grid;
    min-height: 64rem;
    padding: var(--offset-m, 1.25rem);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
  }

  .title {
    grid-column: 1 / 4;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .decorated-zone::before {
    content: "";
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    content: "";
    left: 20px;
    bottom: 20px;
  }

  .decorated-item {
    top: 20px;
    right: 30px;
  }

   .header__theme-menu {
    grid-column: 2 / 4;
    align-self: center;
    justify-self: end;
  }

  .title__description {
    grid-column: 2/4;
  }

  .main {
    display: grid;
    gap: 5rem;
    padding: 3.75rem var(--offset-m, 1.25rem);
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: var(--offset-m, 1.25rem);
  }

  .article-title {
    grid-column: 1 / 2;
  }

  .article-list:not(.article-list.article-list__alternate) {
    grid-column: 2 / 4;
    padding-left: 7px;
  }

  .content-section.section_alternate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--offset-m, 1.25rem);
  }
  
  .article-title__alternate {
    grid-column: 1 / 2;
  }

  .article-list__alternate {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--offset-m, 1.25rem);
  }

  .content-wrapper__alternate {
    display: grid;
    grid-template-rows: min-content 1fr;
  }

  .content-wrapper.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--offset-m, 1.25rem);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-title__images {
    grid-column: span 3;
  }

  .image:nth-of-type(1) {
    grid-column: span 2;
  }

  .image:nth-of-type(2) {
    grid-row: span 2;
  }

  .image:nth-of-type(3) {
    grid-row: span 2;
  }

  .image:nth-of-type(5) {
    grid-column: span 2;
  }

  .footer {
    min-height: 64rem;
    padding: 0 var(--offset-m, 1.25rem) 0 var(--offset-l, 2.5rem);
  }
}

@media (width >= 64em) {
  .header {
    display: grid;
    min-height: 48rem;
    padding: var(--offset-m, 1.25rem);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
  }

  .title {
    grid-column: 1 / 4;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .decorated-zone::before {
    content: "";
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    content: "";
    left: 20px;
    bottom: 20px;
  }

  .decorated-item {
    top: 20px;
    right: 30px;
  }

  .header__theme-menu {
    grid-column: 1 / 4;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    gap: var(--offset-base, 0.625rem);
  }

  .title__description {
    grid-column: 2/4;
  }

  .main {
    display: grid;
    gap: 5rem;
    padding: 3.75rem var(--offset-m, 1.25rem);
  }

  .content-section:not(.section__alternate) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 0.3125rem;
  }

  .article-title {
    grid-column: 1 / 2;
  }

  .article-list {
    grid-column: 2 / 4;
  }

  .content-section.section_alternate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
  }

  .article-title__alternate {
    grid-column: 1 / 2;
  }

  .article-list__alternate {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-wrapper__alternate {
    display: grid;
    grid-template-rows: min-content 1fr;
  }

  .content-wrapper.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--offset-m, 1.25rem);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-title__images {
    grid-column: span 3;
  }

  .image:nth-of-type(1) {
    grid-column: span 2;
  }

  .image:nth-of-type(2) {
    grid-row: span 2;
  }

  .image:nth-of-type(3) {
    grid-row: span 2;
  }

  .image:nth-of-type(5) {
    grid-column: span 2;
  }

  .footer {
    min-height: 48rem;
    padding: 0 var(--offset-m, 1.25rem) 0 var(--offset-l, 2.5rem);
  }
}